 .App {
  min-height: 100vh;
  min-width: 100vw;

  background-image: url("./img/gradient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: fixed;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
background-color: #ff0000;
background-color: #ff7700;
background-color: #ffd900;
background-color: #9900ff;
background-color: #ff006f;
background-color: #00bbff;
background-color: #44ff00;
background-color: #210dd4;
background-color:#e7975e37;
background-color:#ffffff;
} */
